extends layout

block content
    h1 #{title}: #{video.title}
    p #[strong Summary:] #{video.summary}
    p #[strong Tags:]&nbsp;
        each val, index in video.tags
            a(href=val.url) #{val.name}
            if index < video.tags.length - 1
               |, 
    video(width='600', controls)
        source(src='/new_videos/'+encodeURI(video.filename), type='video/mp4')
  
    div(style='margin-left:20px;margin-top:20px')
        hr
        p
            a(href=video.url+'/delete') Delete Video
        p
            a(href=video.url+'/update') Update Video
